@import "tailwindcss";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.feed-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.post-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-bottom: 20px;
}

.post-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.post-card h3 {
  margin-bottom: 10px;
}
